html {
    height: 100%;
    width: 100%;
}
h1,h2,p {
    margin: 0;
    padding-top: 15px;
}
body {  
    margin: 0;
}
header {
background-color: rgb(128, 255, 0);
display: flex;
justify-content: space-between;
text-decoration: underline;
}
div {
    display: flex;
    flex-direction: row;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
img {
    margin:15px ; 
    border: 3px solid #11d445;
}
.photo {
width: 70px;
height: 70px;
border-radius: 50%;
border: 3px solid rgb(255, 153, 0);
}
h1,h2 {
    color: #d47911;
    font-size: 50px;
}
.about-Makc {
    background-color: rgb(76, 76, 221);
    text-align: center; 
    color: aquamarine;
}
.about-hobby {
    background-color: rgb(0, 234, 255);
    text-align: center;  
    color: rgb(9, 72, 51);
}
.about-family {
    background-color: rgb(42, 154, 239);
    text-align: center; 
    color: aquamarine;
}
p{
    font-size: 30px;
    padding-bottom: 20px;
}
footer {
    color: white;
    background-color: rgb(19, 19, 66);
    text-align: center;
    padding-top: 15px;
}

